<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prod of getProducts()">
      <td>{{prod.id}}</td>
      <td>{{prod.name}}</td>
      <td>{{prod.category}}</td>
      <td>{{prod.price | currency:'USD':'symbol':'2.2-2'}}</td>
      <td>
        <button class="btn btn-sm btn-warning m-1" [routerLink]="['/admin/main/products/edit',prod.id]">Edit</button>
        <button class="btn- btn-sm btn-danger" (click)="deleteProduct(prod.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<button routerLink="/admin/main/products/create" class="btn btn-primary">Create New Product</button>
